In [80]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
from  config import g_key

In [81]:
Weather_data = pd.read_csv("../python-api-challenge/Weather_data.csv")
Weather_data.head()

,city,country,long,lat,Temperature,Humidity (%),Cloudiness(%),Wind Speed (mph)
0,kodiak,US,-152.4072,57.7900,38.71,48,20,8.05
1,mahebourg,MU,57.7000,-20.4081,74.25,79,5,14.45
2,jamestown,US,-79.2353,42.0970,56.59,71,1,13.80
3,mahalapye,BW,26.8142,-23.1041,63.95,63,49,11.36
4,hilo,US,-155.0900,19.7297,79.59,74,20,9.22

In [82]:
humidity = Weather_data["Humidity (%)"]
maxhumidity = humidity.max()

locations = Weather_data[["lat", "long"]]

In [83]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,dissipating=False, weights=humidity,max_intensity = 6,point_radius = 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
narrow_city=Weather_data.loc[(Weather_data["Temperature"]<80) & (Weather_data["Temperature"]>70) & (Weather_data["Wind Speed (mph)"]<10) & (Weather_data["Cloudiness(%)"]==0)]
narrow_city=narrow_city.dropna(how='any')
narrow_city.reset_index(inplace=True)
narrow_city

,index,city,country,long,lat,Temperature,Humidity (%),Cloudiness(%),Wind Speed (mph)
0,76,souillac,MU,57.5167,-20.5167,74.35,82,0,7.45
1,275,general bravo,MX,-99.1667,25.8000,77.38,18,0,8.25
2,327,san patricio,US,-97.5169,28.0170,75.60,26,0,9.66
3,381,neuquen,AR,-68.0591,-38.9516,75.09,57,0,0.00
4,428,quelimane,MZ,36.8883,-17.8786,71.55,78,0,3.44
5,470,bandarbeyla,SO,50.8122,9.4942,75.70,73,0,3.44
6,517,sur,OM,59.5289,22.5667,76.60,67,0,1.23
7,570,chor,PK,69.7667,25.5167,75.61,27,0,4.85
8,617,cedral,MX,-100.7333,23.8000,70.21,23,0,2.39
9,628,monterey,US,-121.2516,36.2505,70.81,40,0,1.39
10,644,miandrivazo,MG,45.4667,-19.5167,72.79,77,0,2.80
11,753,san quintin,MX,-115.9500,30.4833,73.89,43,0,3.42

In [89]:
Hotel_df=[]
for x in  range(len(narrow_city)):
    lat=narrow_city.loc[x]['lat']
    long=narrow_city.loc[x]['long']

    params = {"location": f"{lat},{long}",  
    "radius": 5000,
    "type": "hotel",
    "key":g_key}
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        Hotel_df.append(jsn['results'][0]['name'])
    except:
        Hotel_df.append("")
narrow_city["Hotel Name"] = Hotel_df
narrow_city.dropna(how='any')
narrow_city.head()

,index,city,country,long,lat,Temperature,Humidity (%),Cloudiness(%),Wind Speed (mph),Hotel Name
0,76,souillac,MU,57.5167,-20.5167,74.35,82,0,7.45,Souillac
1,275,general bravo,MX,-99.1667,25.8000,77.38,18,0,8.25,General Bravo
2,327,san patricio,US,-97.5169,28.0170,75.60,26,0,9.66,Sinton
3,381,neuquen,AR,-68.0591,-38.9516,75.09,57,0,0.00,Neuquen
4,428,quelimane,MZ,36.8883,-17.8786,71.55,78,0,3.44,Quelimane